/*--------------------------------------------------------------
>>>>>> CSSeco Styles(usualy overwrite bootsrap styles :))
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
	#  Imports
	##  Fonts
    ##  Bootstrap
	#  CSSeco Variables
	#  Overides(bs)
	#  Helper Classes
	#  CSSeco Styles
	## Body
	## Header
	## Footer
	## Content 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#  Imports 
##  Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700");
@import url("../fonts/fonts.css");
/*--------------------------------------------------------------
#  Imports
##  Bootstrap
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#  CSSeco Variables
--------------------------------------------------------------*/
/* BreakPoint */
/*--------------------------------------------------------------
#  Overides(bs)
--------------------------------------------------------------*/
body {
  font-family: 'Asap';
  font-weight: normal;
  font-style: normal; }

/*--------------------------------------------------------------
#  Helper Classes
--------------------------------------------------------------*/
.posrel {
  position: relative !important; }

/*--------------------------------------------------------------
#  CSSeco Styles
## Body
--------------------------------------------------------------*/
div#site-wrapper {
  /*--------------------------------------------------------------
  #  CSSeco Styles
  ## Header
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  #  CSSeco Styles
  ## Footer
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  #  CSSeco Styles 
  ## Content
  --------------------------------------------------------------*/ }
  div#site-wrapper header#header {
    padding: 10px 0; }
    div#site-wrapper header#header img {
      max-height: 50px; }
    @media screen and (min-width: 768px) {
      div#site-wrapper header#header {
        padding: 20px 0; } }
  div#site-wrapper footer#footer {
    background: #353535;
    color: #FFF;
    font-size: 12px;
    padding: 20px 0;
    text-align: center; }
    div#site-wrapper footer#footer figure {
      max-width: 336px;
      height: 64px;
      background: url(../imgs/footer/icons-mobile.png) center no-repeat;
      background-size: contain;
      margin: 0 auto 20px; }
      @media screen and (min-width: 768px) {
        div#site-wrapper footer#footer figure {
          max-width: 628px;
          background-image: url(../imgs/footer/icons.png); } }
  div#site-wrapper section#section1.subHeader .section1BG {
    background-image: url(../imgs/section1/subHeaderMobileBG.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    border-color: #000;
    border-style: solid;
    border-width: 10px 0;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%; }
    @media screen and (min-width: 992px) {
      div#site-wrapper section#section1.subHeader .section1BG {
        background-image: url(../imgs/section1/subHeaderBG2.jpg);
        background-size: cover;
        border: medium none; } }
    @media screen and (min-width: 1200px) {
      div#site-wrapper section#section1.subHeader .section1BG {
        min-height: 500px; } }
    div#site-wrapper section#section1.subHeader .section1BG h1 {
      background: rgba(55, 137, 124, 0.6);
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      margin: 0 -15px 20px;
      padding: 10px 0;
      text-align: center; }
      @media screen and (min-width: 576px) {
        div#site-wrapper section#section1.subHeader .section1BG h1 {
          font-size: 34px; } }
      @media screen and (min-width: 992px) {
        div#site-wrapper section#section1.subHeader .section1BG h1 {
          font-size: 38px;
          margin: 30px 0 20px;
          position: relative;
          text-align: left;
          z-index: 1; }
          div#site-wrapper section#section1.subHeader .section1BG h1::before {
            background: rgba(55, 137, 124, 0.6);
            content: "";
            height: 100%;
            left: -10000px;
            position: absolute;
            top: 0;
            width: 10000px;
            z-index: 0; }
          div#site-wrapper section#section1.subHeader .section1BG h1::after {
            background: rgba(55, 137, 124, 0.6);
            content: "";
            height: 100%;
            right: 0;
            position: absolute;
            top: 0;
            width: 10000px;
            z-index: -1; } }
      @media screen and (min-width: 1200px) {
        div#site-wrapper section#section1.subHeader .section1BG h1 {
          font-size: 42px;
          margin: 110px 0 40px 0; } }
      div#site-wrapper section#section1.subHeader .section1BG h1 span {
        color: #F3FF43;
        text-transform: uppercase; }
        @media screen and (min-width: 992px) {
          div#site-wrapper section#section1.subHeader .section1BG h1 span {
            color: #FFF; } }
    div#site-wrapper section#section1.subHeader .section1BG p {
      color: #fff;
      font-size: 16px;
      line-height: normal;
      text-align: center; }
      @media screen and (min-width: 576px) {
        div#site-wrapper section#section1.subHeader .section1BG p {
          font-size: 16px; } }
      @media screen and (min-width: 768px) {
        div#site-wrapper section#section1.subHeader .section1BG p {
          font-size: 18px; } }
      @media screen and (min-width: 992px) {
        div#site-wrapper section#section1.subHeader .section1BG p {
          text-align: left; } }
      @media screen and (min-width: 1200px) {
        div#site-wrapper section#section1.subHeader .section1BG p {
          padding-right: 70px; } }
      @media screen and (min-width: 1440px) {
        div#site-wrapper section#section1.subHeader .section1BG p {
          padding-right: 0; } }
  div#site-wrapper section#section2.csseco_form_title {
    background-color: #41BEAA;
    margin: 0 auto; }
    div#site-wrapper section#section2.csseco_form_title h3 {
      color: #F3FF43;
      font-size: 18px;
      font-weight: bold;
      margin: 7px 0;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (min-width: 992px) {
        div#site-wrapper section#section2.csseco_form_title h3 {
          font-size: 24px;
          color: #FFF; } }
  div#site-wrapper section#section3.formS {
    background: #000;
    color: #FFF;
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      div#site-wrapper section#section3.formS .form-wrap {
        margin: 0 auto;
        max-width: 60%;
        width: 100%; } }
    div#site-wrapper section#section3.formS .form-wrap input[type="text"],
    div#site-wrapper section#section3.formS .form-wrap input[type="email"],
    div#site-wrapper section#section3.formS .form-wrap input[type="tel"],
    div#site-wrapper section#section3.formS .form-wrap select {
      color: #000;
      font-weight: bold;
      max-width: 100%;
      padding: 10px;
      width: 100%; }
    div#site-wrapper section#section3.formS .form-wrap select {
      padding: 13px 0 13px 10px; }
    div#site-wrapper section#section3.formS .form-wrap input.phoneprefixclass {
      float: left;
      width: 20%; }
    div#site-wrapper section#section3.formS .form-wrap input.phonenumberclass {
      float: left;
      width: 80%; }
    div#site-wrapper section#section3.formS .form-wrap .agreementC {
      margin-top: 10px; }
      div#site-wrapper section#section3.formS .form-wrap .agreementC label {
        display: inline; }
    div#site-wrapper section#section3.formS .form-wrap .inputerror,
    div#site-wrapper section#section3.formS .form-wrap .agreementerror {
      font-size: 80%;
      padding-top: 3px;
      margin-bottom: 10px; }
    div#site-wrapper section#section3.formS .form-wrap button.formsubmitmain,
    div#site-wrapper section#section3.formS .form-wrap div#checksubmit {
      background: #f6ff00 url(../imgs/section3/form/arrow.png) no-repeat right 10px center;
      background-size: auto 20px;
      border: medium none;
      color: #000;
      cursor: pointer;
      font-weight: bold;
      max-width: 100%;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      width: 100%; }
    div#site-wrapper section#section3.formS .form-wrap div#checksubmit {
      display: none;
      opacity: .5; }
  div#site-wrapper section#section4.bullets_and_image .csseco_ttl {
    text-align: center; }
    @media screen and (min-width: 768px) {
      div#site-wrapper section#section4.bullets_and_image .csseco_ttl {
        text-align: left; } }
    div#site-wrapper section#section4.bullets_and_image .csseco_ttl h2 {
      font-size: 18px;
      font-weight: bold;
      margin: 20px auto;
      max-width: 80%;
      position: relative;
      width: 100%; }
      @media screen and (min-width: 768px) {
        div#site-wrapper section#section4.bullets_and_image .csseco_ttl h2 {
          font-size: 24px; } }
      div#site-wrapper section#section4.bullets_and_image .csseco_ttl h2::after {
        background-color: #41BEAA;
        bottom: -5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%; }
      @media screen and (min-width: 768px) {
        div#site-wrapper section#section4.bullets_and_image .csseco_ttl h2 {
          margin: 20px 0 40px;
          max-width: 520px; } }
  div#site-wrapper section#section4.bullets_and_image .csseco_bullets {
    text-align: center; }
    @media screen and (min-width: 768px) {
      div#site-wrapper section#section4.bullets_and_image .csseco_bullets {
        text-align: left; } }
    div#site-wrapper section#section4.bullets_and_image .csseco_bullets img {
      margin: 0 0 10px 0;
      height: 80px;
      max-width: 80px; }
      @media screen and (min-width: 768px) {
        div#site-wrapper section#section4.bullets_and_image .csseco_bullets img {
          height: 90px;
          max-width: 90px; } }
      div#site-wrapper section#section4.bullets_and_image .csseco_bullets img.phoneImg {
        display: block;
        height: auto;
        margin: 0 auto 20px;
        max-height: 350px;
        max-width: 350px;
        width: auto; }
        @media screen and (min-width: 768px) {
          div#site-wrapper section#section4.bullets_and_image .csseco_bullets img.phoneImg {
            max-height: 500px;
            max-width: 350px;
            width: 100%; } }
    div#site-wrapper section#section4.bullets_and_image .csseco_bullets h3 {
      color: #41BEAA;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase; }
    div#site-wrapper section#section4.bullets_and_image .csseco_bullets p {
      margin-bottom: 30px; }
